* {
  margin: 0px;
  padding: 0px;
}
main {
  margin: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tabuleiro {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 8px;
}

.frente,
.tras {
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.frente {
  background-color: yellow;
}

.tras {
  background: #333;
  display: none;
}

.virada .tras {
  display: flex;
}
.virada .frente {
  display: none;
}
